.container {
  margin: 0 auto;
  max-width: 575px;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.margin-5 {
  margin: 0 5rem;
}

.margin-1 {
  margin: 1rem 0;
}

.flex {
  display: flex;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .row {
    display: inline;
  }
}
