#navcontainer {
  background-color: #3e92cc !important;
}

li {
  list-style-type: none;
}

#weather-list > li:nth-child(odd) {
  font-size: 125%;
}

#weather-list > li:nth-child(even) {
  font-size: 75%;
}

#star {
  padding: 0 0.5rem;
  vertical-align: super;
}

body {
  background-color: #f6f6f6;
}

.white-box {
  background-color: #fff;
}

#modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
}

#modal {
  position: relative;
  text-align: center;
  background-color: white;
  margin: 20rem 3rem;
  border-radius: 5px;
  padding-top: 3rem;
  align-items: center;
}
